config VIDEO_OMAP_VIDEOLIB
	tristate "OMAP Video out library"
	depends on VIDEO_OMAP3_V4L2
	default VIDEO_OMAP3_V4L2

config VIDEO_OMAP_VIDEOOUT
	tristate "OMAP Video out driver"
	select VIDEOBUF_DMA_SG
	select VIDEOBUF_GEN
	depends on VIDEO_OMAP3_V4L2
	default VIDEO_OMAP3_V4L2

choice
        prompt "TV Mode"
        default NTSC_M

config NTSC_M
        bool "Use NTSC_M mode"
        help
          Select this option if you want NTSC_M mode on TV

config PAL_BDGHI
        bool "Use PAL_BDGHI mode"
        help
          Select this option if you want PAL_BDGHI mode on TV

endchoice
