menuconfig HAPTIC
	bool "Haptic support"
	help
	  Say Y to enable haptic support. It enables the haptic and controls
	  from userspace.

if HAPTIC

config HAPTIC_CLASS
	tristate "Haptic Class Support"
	help
	  This option enables the haptic sysfs class in /sys/class/haptic.

comment "Haptic drivers"

config HAPTIC_ISA1200
	tristate "ISA1200 haptic support"
	depends on HAPTIC_CLASS && I2C
	help
	  The ISA1200 is a high performance enhanced haptic driver.

endif	# HAPTIC
