
# arch/arm/configs/motorola_ljap/feature/coverage.config
#
# GCOV enable.
#
# Enabled by LJ Build Environment TEST_COVERAGE flag.
#
# Copyright 2007 Motorola, Inc.
#

# CONFIG_MODVERSIONS is not set
# CONFIG_MODULE_SRCVERSION_ALL is not set
CONFIG_GCOV_PROFILE=y
# CONFIG_GCOV_ALL is not set
CONFIG_GCOV_PROC=y
