# arch/arm/configs/motorola_ljap/feature/kmemleak.config
#
# KMEMLEAK enable.
#
# Enabled by LJ Build Environment TEST_KMEMLEAK flag.
#
# Copyright 2009 Motorola, Inc.
#

# CONFIG_MODVERSIONS is not set
# CONFIG_MODULE_SRCVERSION_ALL is not set
CONFIG_DEBUG_FS=y
CONFIG_DEBUG_SLAB=y
CONFIG_DEBUG_SLAB_LEAK=y
CONFIG_DEBUG_MEMLEAK=y
CONFIG_DEBUG_MEMLEAK_DYNAMIC_NR=y
CONFIG_DEBUG_MEMLEAK_HASH_BITS=16
CONFIG_DEBUG_MEMLEAK_TRACE_LENGTH=4
CONFIG_DEBUG_MEMLEAK_PREINIT_OBJECTS=512
CONFIG_DEBUG_MEMLEAK_SECONDARY_ALIASES=y
CONFIG_DEBUG_MEMLEAK_TASK_STACKS=y
CONFIG_DEBUG_KEEP_INIT=y
CONFIG_DEBUG_MEMLEAK_TEST=m
# CONFIG_DEBUG_MEMLEAK_ORPHAN_FREEING is not set
CONFIG_DEBUG_MEMLEAK_REPORT_THLD=1
CONFIG_STACKTRACE=y
